:root {

  --azul-base: #92D9FF;
  --azul-ocuro4: #003450;
  --max-width: 430px;
}

body {

  width: var(--max-width);
  height: 932px;
  /* display: flex; */
}

header {

  display: flex;
  width: var(--max-width);
  height: max-content;
  background: var(--azul-base);

}

main{ 

  display: flex;
  width: var(--max-width);
  background: linear-gradient(180deg, #92D9FF 15.98%, #E9F7FF 76.57%);

}

#txt1 {

  width: 60px;
  padding-left: 30px;
  color: var(--azul-ocuro4);
  font-family: Judson;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: normal; 

}

#insrucciones{

  display: flex;
  width: 249px; 
}

.info {
  color: var(--azul-ocuro4, #003450);
  font-family: Judson;
  font-size: 13px;
  font-weight: 400;
  line-height: 5px;
}